<div id="job-status-{{ job.jobId }}">
    {% if job.pending %}
        <span class="btn btn-outline-secondary btn-sm">
            <span class="spinner-border spinner-border-sm" style="border-width: .1em" role="status"></span>
            Pending
        </span>
    {% endif %}

    {% if job.inProgress %}
        <span class="btn btn-outline-primary btn-sm">
            <span class="spinner-border text-primary spinner-border-sm" style="border-width: .1em" role="status"></span>
            In progress
        </span>
    {% endif %}

    {% if job.succeededAt %}
        <span class="btn btn-outline-success btn-sm">
            <i class="far fa-check-circle"></i>
            Succeeded
        </span>
    {% endif %}

    {% if job.failed %}
        <span class="btn btn-outline-danger btn-sm">
            <i class="far fa-times-circle"></i>
            Failed
        </span>
    {% endif %}

    {% if job.canceled %}
        <span class="btn btn-outline-warning btn-sm">
            <i class="fas fa-exclamation-triangle"></i>
            Canceled
        </span>
    {% endif %}

    {% if job.startedAt %}
        <span style="padding: 0 15px;">
            <i class="far fa-calendar-alt"></i>
            {% if job.succeeded %}
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ job.succeededAt|date('j.n.Y H:i') }}">
                    {{ job.succeededAt|ago }}
                </span>
            {% elseif job.canceled %}
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ job.canceledAt|date('j.n.Y H:i') }}">
                    {{ job.canceledAt|ago }}
                </span>
            {% elseif job.failed %}
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ job.failedAt|date('j.n.Y H:i') }}">
                    {{ job.failedAt|ago }}
                </span>
            {% elseif job.inProgress %}
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ job.startedAt|date('j.n.Y H:i') }}">
                    {{ job.startedAt|ago }}
                </span>
            {% endif %}
        </span>
    {% endif %}

    {% if job.mergeRequestUrl %}
        <a href="{{ job.mergeRequestUrl }}" class="btn btn-sm btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Merge request">
            <i class="fa fa-code-branch"></i> Merge request
        </a>
    {% endif %}

    {% if job.succeededAt or job.failedAt or job.canceledAt %}
        <a href="{{ path('rerun_job', {'jobId': job.jobId}) }}" class="btn btn-sm btn-outline-secondary">
            <i class="fas fa-redo"></i> Rerun
        </a>
    {% endif %}
</div>
