{% if jobId %}
    <span id="last-job-{{ jobId}}">
        {% if jobPending %}
            <span class="btn btn-outline-warning btn-sm">
                <span class="spinner-border text-outline-warning spinner-border-sm" style="border-width: .1em" role="status"></span>
                Pending
            </span>
        {% endif %}

        {% if jobInProgress %}
            <a class="btn btn-outline-primary btn-sm" href="{{ path('job_detail', {jobId: jobId}) }}">
                <span class="spinner-border text-primary spinner-border-sm" style="border-width: .1em" role="status"></span>
                In progress
            </a>
        {% endif %}

        {% if jobSucceeded %}
            <a href="{{ path('job_detail', {jobId: jobId}) }}" class="btn btn-outline-success btn-sm">
                <i class="far fa-check-circle"></i>
                Succeeded
            </a>
        {% endif %}

        {% if jobFailed %}
            <a href="{{ path('job_detail', {jobId: jobId}) }}" class="btn btn-outline-danger btn-sm">
                <i class="far fa-times-circle"></i>
                Failed
            </a>
        {% endif %}

        {% if jobActionTime %}
            <br>
            <small class="text-muted">
                <i class="far fa-clock"></i>

                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ jobActionTime|date('j.n.Y H:i') }}">
                        {{ jobActionTime|ago }}
                    </span>
            </small>
        {% endif %}
    </span>
{% endif %}
