{% if recipes %}
    <div class="table-responsive jobs-list-table">
        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th>Recipe</th>
                    <th style="width: 200px;">Schedule</th>
                    <th style="width: 110px;"></th>
                    <th style="width: 150px;" class="text-center">Last job</th>
                    <th style="width: 110px;"></th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                    <tr id="recipe-{{ recipe.recipeName.value }}-row">
                        <td>
                            {{ recipe.title }}<br>
                            {% if project.recipeBaseline(recipe.recipeName) %}
                                <span class="badge rounded-pill bg-light text-dark">Files within PSR-4 roots changed since commit: {{ project.recipeBaselineHash(recipe.recipeName) }}</span>
                            {% else %}
                                <span class="badge rounded-pill bg-light text-dark">Files within PSR-4 roots</span>
                            {% endif %}
                        </td>
                        <td>
                            <small class="text-muted">{{ recipe.humanReadableCron }}</small>
                            <br>
                            <small>
                                <i class="far fa-clock"></i> next {{ recipe.nextRunTime|ago }}
                            </small>
                        </td>
                        <td class="text-center">
                            <turbo-frame id="recipe-{{ recipe.recipeName.value }}-run">
                                <a href="{{ path('run_recipe', {recipeName: recipe.recipeName.value, projectId: project.projectId}) }}" class="btn btn-sm btn-outline-primary">
                                    <i class="far fa-play-circle"></i>
                                    Run
                                </a>
                            </turbo-frame>
                        </td>

                        <td class="text-center" id="recipe-{{ recipe.recipeName.value }}-last-job">
                            {{ include('project_overview/_last_job.html.twig', {
                                jobId: recipe.lastJobId,
                                jobPending: recipe.jobPending,
                                jobInProgress: recipe.jobInProgress,
                                jobSucceeded: recipe.jobSucceeded,
                                jobFailed: recipe.jobFailed,
                                jobCanceled: recipe.jobCanceled,
                                jobActionTime: recipe.lastJobActionTime
                            }) }}
                        </td>

                        <td class="text-end">
                            <span id="recipe-{{ recipe.recipeName.value }}-last-job-merge-request">
                                {{ include('project_overview/_last_job_merge_request.html.twig', {
                                    jobId: recipe.lastJobId,
                                    jobMergeRequestUrl: recipe.lastJobMergeRequestUrl
                                }) }}
                            </span>

                            <a href="{{ path('configure_recipe', {projectId: activeProject.projectId, recipeName: recipe.recipeName.value}) }}" class="btn btn-sm btn-light btn-outline-secondary">
                                <i class="fa fa-cog"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
