<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} | Peon</title>

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
</head>

<body data-controller="tooltip" class="page-{{ app.request.get('_route') }}">
    {% block nav_panel %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="{{ path('dashboard') }}" class="navbar-brand">
                    <code>
                        Peon
                    </code>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link {% if app.request.pathInfo == path('dashboard') %}active{% endif %}" href="{{ path('dashboard') }}">
                            Projects
                        </a>
                        <a class="nav-link {% if app.request.pathInfo == path('workers') %}active{% endif %}" href="{{ path('workers') }}">
                            Workers
                        </a>
                    </div>
                </div>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <span class="navbar-text">
                        <a class="user-link {% if app.request.pathInfo == path('user_settings') %}active{% endif %}" href="{{ path('user_settings') }}">
                            <i class="far fa-user"></i> {{ app.user.username }}
                        </a>

                        <span style="padding-left: 15px;">
                            <a href="{{ path('logout') }}">
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </span>
                    </span>
                {% endif %}
            </div>
        </nav>

        {% if activeProject is defined %}
            <div class="active-project-panel">
                <div class="container">

                    <h2>
                        <a href="{{ path('project_overview', {projectId: activeProject.projectId}) }}">
                            <i class="fab fa-gitlab"></i>
                            {{ activeProject.name }}
                        </a>
                    </h2>


                    <div class="active-project-nav">
                        <a {% if app.request.pathInfo == path('project_overview', {projectId: activeProject.projectId}) %}class="active"{% endif %} href="{{ path('project_overview', {projectId: activeProject.projectId}) }}">
                            Overview
                        </a>

                        <a {% if app.request.pathInfo == path('cookbook', {projectId: activeProject.projectId}) %}class="active"{% endif %} href="{{ path('cookbook', {projectId: activeProject.projectId}) }}">
                            Cookbook
                        </a>

                        <a {% if app.request.pathInfo == path('project_settings', {projectId: activeProject.projectId}) %}class="active"{% endif %} href="{{ path('project_settings', {projectId: activeProject.projectId}) }}">
                            Settings
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}

    <div class="container" style="padding-top: 20px; padding-bottom: 80px;">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-alert alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>
