{% extends 'base.html.twig' %}

{% block content %}
    <h1>{% block title %}Cookbook{% endblock %}</h1>

    <section class="cookbook">
        <div class="dashboard-projects row row-cols-auto">
            {% for recipe in recipes %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ recipe.title }}
                            </h5>

                            <pre><code class="language-diff">{{ recipe.exampleCodeDiff }}</code></pre>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group">
                                {% if activeProject.recipeBaseline(recipe.name) %}
                                    <button type="button" class="btn btn-sm btn-outline-success dropdown-toggle" data-bs-toggle="dropdown">
                                        Enabled for changed files
                                    </button>

                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ path('project_enable_recipe', {projectId: activeProject.projectId, recipeName: recipe.name.toString}) }}">Enable for full codebase</a></li>
                                        <li><a class="text-danger dropdown-item" href="{{ path('project_disable_recipe', {projectId: activeProject.projectId, recipeName: recipe.name.toString}) }}">Disable</a></li>
                                    </ul>
                                {% elseif activeProject.recipeEnabled(recipe.name) %}
                                    <button type="button" class="btn btn-sm btn-outline-success dropdown-toggle" data-bs-toggle="dropdown">
                                        Enabled for full codebase
                                    </button>

                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ path('project_enable_recipe_with_baseline', {projectId: activeProject.projectId, recipeName: recipe.name.toString}) }}">Enable for changed files</a></li>
                                        <li><a class="text-danger dropdown-item" href="{{ path('project_disable_recipe', {projectId: activeProject.projectId, recipeName: recipe.name.toString}) }}">Disable</a></li>
                                    </ul>
                                {% else %}
                                    <button type="button" class="btn btn-sm btn-outline-danger dropdown-toggle" data-bs-toggle="dropdown">
                                        Disabled
                                    </button>

                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ path('project_enable_recipe', {projectId: activeProject.projectId, recipeName: recipe.name.toString}) }}">Enable for full codebase</a></li>
                                        <li><a class="dropdown-item" href="{{ path('project_enable_recipe_with_baseline', {projectId: activeProject.projectId, recipeName: recipe.name.toString}) }}">Enable for changed files</a></li>
                                    </ul>
                                {% endif %}
                            </div>


                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>

{% endblock %}
