{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div {{ turbo_stream_listen('dashboard') }}></div>

    <div id="event-stream"></div>

    <a style="float: right;" href="{{ path('add_project') }}" class="btn btn-sm btn-primary">
        <i class="fas fa-plus-circle"></i>
        Add project
    </a>

    <h2>Projects</h2>

    <div class="dashboard-projects row row-cols-auto">
        {% for project in projects %}
            <div class="col">
                <a href="{{ path('project_overview', {projectId: project.projectId}) }}" class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fab fa-gitlab"></i> {{ project.name }}</h5>
                        <div class="card-text" id="project-{{ project.projectId }}-stats">
                            {{ include('dashboard/_project_stats.html.twig') }}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    {% if not projects %}
        <p class="guidelines-block">
            First step is to create a project by connecting your git repository<br>
            <a href="{{ path('add_project') }}" class="btn btn-lg btn-primary">Create project</a>
        </p>
    {% endif %}


    <h2>Recent activity</h2>

    {% if jobs is empty %}
        <p>No jobs executed yet.</p>
    {% else %}
        <div class="table-responsive jobs-list-table">
            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Job</th>
                        <th>Project</th>
                        <th>Duration</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="recent-jobs">
                    {% for job in jobs %}
                        {{ include('dashboard/_recent_job.html.twig') }}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
