{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <a style="float: right;" href="{{ path('create_project') }}" class="btn btn-sm btn-primary">
        <i class="fas fa-plus-circle"></i>
        New project
    </a>

    <h2>Projects</h2>

    <div class="dashboard-projects row row-cols-auto">
        {% for project in projects %}
            <div class="col">
                <a href="{{ path('project_detail', {projectId: project.projectId}) }}" class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fab fa-gitlab"></i> {{ project.name }}</h5>
                        <p class="card-text">
                            {{ project.tasksCount }} tasks<br>
                            {{ project.jobsCount }} jobs
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    {% if not projects %}
        <p class="guidelines-block">
            First step is to create a project by connecting your git repository<br>
            <a href="{{ path('create_project') }}" class="btn btn-lg btn-primary">Create project</a>
        </p>
    {% endif %}


    <h3>Recent jobs</h3>

    {% if jobs is empty %}
        <p>No jobs executed yet.</p>
    {% else %}
        <div class="table-responsive jobs-list-table">
            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Task</th>
                        <th>Project</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                        <tr>
                            <td>
                                {% if job.pending %}
                                    <span class="btn btn-warning btn-sm">
                                        <span class="spinner-border text-warning spinner-border-sm" style="border-width: .1em" role="status"></span>
                                        Pending
                                    </span>
                                {% endif %}

                                {% if job.inProgress %}
                                    <a class="btn btn-primary btn-sm" href="{{ path('job_detail', {jobId: job.jobId}) }}">
                                        <span class="spinner-border text-primary spinner-border-sm" style="border-width: .1em" role="status"></span>
                                        In progress
                                    </a>
                                {% endif %}

                                {% if job.succeededAt %}
                                    <a href="{{ path('job_detail', {jobId: job.jobId}) }}" class="btn btn-success btn-sm">
                                        <i class="far fa-check-circle"></i>
                                        Succeeded
                                    </a>
                                {% endif %}

                                {% if job.failed %}
                                    <a href="{{ path('job_detail', {jobId: job.jobId}) }}" class="btn btn-danger btn-sm">
                                        <i class="far fa-times-circle"></i>
                                        Failed
                                    </a>
                                {% endif %}
                            </td>

                            <td>
                                <a href="{{ path('job_detail', {jobId: job.jobId}) }}">
                                    {{ job.taskName }}
                                </a>
                            </td>

                            <td>
                                <a href="#">
                                    <i class="fab fa-gitlab"></i> {{ job.projectName }}
                                </a>
                            </td>

                            <td>
                                {% if job.executionTime %}
                                    <small class="text-muted">
                                        <i class="far fa-clock"></i>
                                        {% if job.executionTime >= 60 %}
                                            {$job->executionTime / 60|floor}m
                                        {% endif %}
                                        {{ job.executionTime % 60|round }}s
                                    </small>
                                    <br>
                                {% endif %}

                                {% if job.startedAt %}
                                    <i class="far fa-calendar-alt"></i>
                                    {% if job.succeeded %}
                                        <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ job.succeededAt|date('j.n.Y H:i') }}">
                                            {{ job.succeededAt|ago }}
                                        </span>
                                    {% elseif job.failed %}
                                        <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ job.failedAt|date('j.n.Y H:i') }}">
                                            {{ job.failedAt|ago }}
                                        </span>
                                    {% elseif job.inProgress %}
                                        <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ job.startedAt|date('j.n.Y H:i') }}">
                                            {{ job.startedAt|ago }}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
