{% extends 'base.html.twig' %}

{% block title %}Job detail{% endblock %}

{% block content %}
<div class="clearfix">
    <div class="float-end">
        {% if activeJob.pending %}
            <span class="btn btn-outline-warning btn-sm">
                <span class="spinner-border text-outline-warning spinner-border-sm" style="border-width: .1em" role="status"></span>
                Pending
            </span>
        {% endif %}

        {% if activeJob.inProgress %}
            <span class="btn btn-outline-primary btn-sm">
                <span class="spinner-border text-primary spinner-border-sm" style="border-width: .1em" role="status"></span>
                In progress
            </span>
        {% endif %}

        {% if activeJob.succeededAt %}
            <span class="btn btn-outline-success btn-sm">
                <i class="far fa-check-circle"></i>
                Succeeded
            </span>
        {% endif %}

        {% if activeJob.failed %}
            <span class="btn btn-outline-danger btn-sm">
                <i class="far fa-times-circle"></i>
                Failed
            </span>
        {% endif %}

        <span style="padding: 0 15px;">
            {% if activeJob.startedAt %}
                <i class="far fa-calendar-alt"></i>
                {% if activeJob.succeeded %}
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ activeJob.succeededAt|date('j.n.Y H:i') }}">
                        {{ activeJob.succeededAt|ago }}
                    </span>
                {% elseif activeJob.failed %}
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ activeJob.failedAt|date('j.n.Y H:i') }}">
                        {{ activeJob.failedAt|ago }}
                    </span>
                {% elseif activeJob.inProgress %}
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ activeJob.startedAt|date('j.n.Y H:i') }}">
                        {{ activeJob.startedAt|ago }}
                    </span>
                {% endif %}
            {% endif %}
        </span>

        {% if activeJob.mergeRequestUrl %}
            <a href="{{ activeJob.mergeRequestUrl }}" class="btn btn-sm btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Merge request">
                <i class="fa fa-code-branch"></i>
            </a>
        {% endif %}
    </div>

    <h2>{{ activeJob.title }}</h2>
</div>

<div style="background: rgb(36, 41, 46);padding: 1.5em 1.5em;border-radius: 4px;">
    {% for process in activeJob.processes %}
        {# @var process \PHPMate\Domain\Job\JobProcess #}
        <div style="margin: 1.5em 0;color: #fff;">
            {% if process.result.output %}
                <a style="color: #fff;" data-bs-toggle="collapse" href="#process-{{ loop.index }}" role="button" aria-expanded="false" aria-controls="process-{{ loop.index }}">
            {% endif %}
                <code style="color: #fff;">
                    <b>{{ process.result.command }}</b>
                </code>
                <span>({{ process.result.executionTime|number_format(0) }}s)</span>
            {% if process.result.output %}
                </a>
            {% endif %}

            {% if process.result.output %}
            <div class="collapse show" id="process-{{ loop.index }}">
                <pre style="margin: 0;">{{ process.result.output }}</pre>
            </div>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}
