{% extends 'base.html.twig' %}

{% block title %}Job detail{% endblock %}

{% block content %}
<div {{ turbo_stream_listen('job-' ~ activeJob.jobId ~ '-detail') }}></div>

<div class="clearfix">
    <div class="float-end">
        {{ include('job/_job_status.html.twig', {
            job: activeJob
        }) }}
    </div>

    <h2>
        {{ activeJob.title }}

        {% if not activeJob.recipe %}
            <a style="margin-left: 15px;" href="{{ path('redefine_task', {taskId: activeJob.taskId}) }}" class="btn btn-sm btn-light btn-outline-secondary">
                <i class="fa fa-cog"></i>
            </a>
        {% endif %}
    </h2>
</div>

<div style="background: rgb(36, 41, 46);padding: 1.5em 1.5em;border-radius: 4px;">
    {% if activeJob.pending %}
        <div class="job-in-progress-animation-wrap" id="job-{{ activeJob.jobId }}-pending-spinner">
            <div class="dot-pulse"></div>
        </div>
    {% endif %}

    <div style="color: #fff;font-family: monospace;" id="event-stream"></div>

    <div id="job-{{ activeJob.jobId }}-processes">
        {% for process in processes %}
            {{ include('job/_process.html.twig', {
                'process': process
            }) }}
        {% endfor %}
    </div>

</div>

{% endblock %}
