{% extends 'base.html.twig' %}

{% block title %}Project {{ activeProject.name }}{% endblock %}

{% block content %}

<span style="float: right;">
    <a class="btn btn-sm btn-primary" href="{{ path('define_task', {projectId: activeProject.projectId}) }}">
        <i class="fas fa-plus-circle"></i>
        Define task
    </a>

    <a class="btn btn-sm btn-danger" href="{{ path('delete_project', {projectId: activeProject.projectId}) }}" onclick="return confirm('Are you sure you want to delete this project?');">
        <i class="fas fa-minus-circle"></i>
        Delete project
    </a>
</span>

<h2>
    <i class="fab fa-gitlab"></i>
    {{ activeProject.name }}
</h2>


{% if not tasks %}
    <p class="guidelines-block">
        Now continue by defining a task<br>
        Task can be any command(s), that could result into a code changes<br>
        <a href="{{ path('define_task', {projectId: activeProject.projectId}) }}" class="btn btn-lg btn-primary">Define task</a>
    </p>
{% endif %}

<div class="table-responsive jobs-list-table">
    <table class="table table-hover align-middle">
        <thead>
        <tr>
            <th>Task</th>
            <th>Schedule</th>
            <th>Commands</th>
            <th class="text-center">Last job</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>
                        <a href="{{ path('redefine_task', {taskId: task.taskId}) }}">
                            Rector
                        </a>
                    </td>

                    <td>
                        <code>{{ task.schedule }}</code> <br>{# <small class="text-muted">Every minute</small> #}
                        {#
                        <br>
                        <small>
                            <i class="far fa-clock"></i> next in 29 minutes
                        </small>
                        #}
                    </td>

                    <td>
                        <code>
                            {{ task.commandsWithNewLines|nl2br }}
                        </code>
                    </td>

                    <td class="text-center">
                        {% if task.lastJobId %}

                            <a href="#" class="btn btn-success btn-sm">
                                <i class="far fa-check-circle"></i>
                                Succeeded
                            </a>
                            <br>
                            <small class="text-muted">
                                <i class="far fa-clock"></i> 29 minutes ago
                            </small>
                            <br>
                        {% endif %}
                        <a href="{{ path('run_task', {taskId: task.taskId}) }}" class="btn btn-sm btn-primary">
                            <i class="far fa-play-circle"></i>
                            Run
                        </a>
                    </td>

                    <td class="text-end">
                        <a href="{{ path('redefine_task', {taskId: task.taskId}) }}" class="btn btn-sm btn-primary">
                            <i class="fas fa-pencil-alt"></i>
                            Edit
                        </a>

                        <a class="btn btn-sm btn-danger" href="{{ path('remove_task', {taskId: task.taskId}) }}" onclick="return confirm('Are you sure you want to delete this task?');">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
