{% extends 'base.html.twig' %}

{% block title %}Project {{ activeProject.name }}{% endblock %}

{% block content %}

{% if not tasks and not activeProject.enabledRecipes %}
    <section class="project-guidelines">
        <p class="bigger">
            Continue by defining a <b>task</b>.<br>
            <b>Task</b> is sequence of one or more commands.<br>
            If task run (<b>job</b>) results into code changes, it will open merge request.
        </p>

        <div class="row">
            <div class="col-md-6">
                <p>You can choose from predefined recipes (<a target="_blank" href="{{ path('cookbook') }}">check out the cookbook</a>):</p>

                <p>
                    <a class="btn btn-md btn-outline-primary" href="{{ path('cookbook', {projectId: activeProject.projectId}) }}">
                        Check cookbook
                    </a>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    Or you can define custom task yourself
                </p>
                <p>
                    <a class="btn btn-md btn-outline-primary" href="{{ path('define_task', {projectId: activeProject.projectId}) }}">
                        Add task
                    </a>
                </p>
            </div>
        </div>
    </section>
{% endif %}

{% if tasks %}
    <div class="table-responsive jobs-list-table">
        <table class="table table-hover align-middle">
            <thead>
            <tr>
                <th>Task</th>
                <th>Schedule</th>
                <th></th>
                <th>Commands</th>
                <th class="text-center">Last job</th>
                <th class="text-end">
                    <a class="btn btn-sm btn-primary" href="{{ path('define_task', {projectId: activeProject.projectId}) }}">
                        <i class="fas fa-plus-circle"></i>
                        New task
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>
                        {{ task.name }}
                    </td>

                    <td>
                        {% if task.schedule %}
                            <code>{{ task.schedule }}</code> <br><small class="text-muted">{{ task.humanReadableCron }}</small>
                            <br>
                            <small>
                                <i class="far fa-clock"></i> next {{ task.nextRunTime|ago }}
                            </small>
                        {% else %}
                            No schedule
                            <br><small class="text-muted">Run only manually</small>
                        {% endif %}
                    </td>

                    <td>
                        <a href="{{ path('run_task', {taskId: task.taskId}) }}" class="btn btn-sm btn-outline-primary">
                            <i class="far fa-play-circle"></i>
                            Run
                        </a>
                    </td>

                    <td>
                        <code>
                            {{ task.commandsWithNewLines|nl2br }}
                        </code>
                    </td>

                    <td class="text-center">
                        {% if task.lastJobId %}

                            {% if task.jobPending %}
                                <span class="btn btn-outline-warning btn-sm">
                                        <span class="spinner-border text-outline-warning spinner-border-sm" style="border-width: .1em" role="status"></span>
                                        Pending
                                    </span>
                            {% endif %}

                            {% if task.jobInProgress %}
                                <a class="btn btn-outline-primary btn-sm" href="{{ path('job_detail', {jobId: task.lastJobId}) }}">
                                    <span class="spinner-border text-primary spinner-border-sm" style="border-width: .1em" role="status"></span>
                                    In progress
                                </a>
                            {% endif %}

                            {% if task.jobSucceeded %}
                                <a href="{{ path('job_detail', {jobId: task.lastJobId}) }}" class="btn btn-outline-success btn-sm">
                                    <i class="far fa-check-circle"></i>
                                    Succeeded
                                </a>
                            {% endif %}

                            {% if task.jobFailed %}
                                <a href="{{ path('job_detail', {jobId: task.lastJobId}) }}" class="btn btn-outline-danger btn-sm">
                                    <i class="far fa-times-circle"></i>
                                    Failed
                                </a>
                            {% endif %}

                            <br>

                            <small class="text-muted">
                                <i class="far fa-clock"></i>

                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ task.lastJobActionTime|date('j.n.Y H:i') }}">
                                    {{ task.lastJobActionTime|ago }}
                                </span>
                            </small>
                            <br>
                        {% endif %}
                    </td>

                    <td class="text-end">
                        {% if task.lastJobMergeRequestUrl %}
                            <a href="{{ task.lastJobMergeRequestUrl }}" class="btn btn-sm btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Merge request">
                                <i class="fa fa-code-branch"></i>
                            </a>
                        {% endif %}

                        <a href="{{ path('redefine_task', {taskId: task.taskId}) }}" class="btn btn-sm btn-light btn-outline-secondary">
                            <i class="fa fa-cog"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

{% if activeProject.enabledRecipes %}
    <div class="table-responsive jobs-list-table">
        <table class="table table-hover align-middle">
            <thead>
            <tr>
                <th>Recipe</th>
                <th>Schedule</th>
                <th></th>
                <th class="text-center">Last job</th>
            </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                    <tr>
                        <td>
                            {{ recipe.title }}
                        </td>
                        <td>
                            <small class="text-muted">{{ recipe.humanReadableCron }}</small>
                            <br>
                            <small>
                                <i class="far fa-clock"></i> next {{ recipe.nextRunTime|ago }}
                            </small>
                        </td>
                        <td>
                            <a href="{{ path('run_recipe', {recipeName: recipe.recipeName, projectId: activeProject.projectId}) }}" class="btn btn-sm btn-outline-primary">
                                <i class="far fa-play-circle"></i>
                                Run
                            </a>
                        </td>
                        <td class="text-center">
                            {% if recipe.lastJobId %}

                                {% if recipe.jobPending %}
                                    <span class="btn btn-outline-warning btn-sm">
                                            <span class="spinner-border text-outline-warning spinner-border-sm" style="border-width: .1em" role="status"></span>
                                            Pending
                                        </span>
                                {% endif %}

                                {% if recipe.jobInProgress %}
                                    <a class="btn btn-outline-primary btn-sm" href="{{ path('job_detail', {jobId: recipe.lastJobId}) }}">
                                        <span class="spinner-border text-primary spinner-border-sm" style="border-width: .1em" role="status"></span>
                                        In progress
                                    </a>
                                {% endif %}

                                {% if recipe.jobSucceeded %}
                                    <a href="{{ path('job_detail', {jobId: recipe.lastJobId}) }}" class="btn btn-outline-success btn-sm">
                                        <i class="far fa-check-circle"></i>
                                        Succeeded
                                    </a>
                                {% endif %}

                                {% if recipe.jobFailed %}
                                    <a href="{{ path('job_detail', {jobId: recipe.lastJobId}) }}" class="btn btn-outline-danger btn-sm">
                                        <i class="far fa-times-circle"></i>
                                        Failed
                                    </a>
                                {% endif %}

                                <br>

                                <small class="text-muted">
                                    <i class="far fa-clock"></i>

                                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ recipe.lastJobActionTime|date('j.n.Y H:i') }}">
                                        {{ recipe.lastJobActionTime|ago }}
                                    </span>
                                </small>
                                <br>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

{% if jobs %}
    <h3>Recent jobs</h3>

    <div class="table-responsive jobs-list-table">
        <table class="table table-hover align-middle">
            <thead>
            <tr>
                <th>Status</th>
                <th>Job</th>
                <th>Duration</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
                <tr>
                    <td>
                        {% if job.pending %}
                            <span class="btn btn-outline-warning btn-sm">
                                    <span class="spinner-border text-outline-warning spinner-border-sm" style="border-width: .1em" role="status"></span>
                                    Pending
                                </span>
                        {% endif %}

                        {% if job.inProgress %}
                            <a class="btn btn-outline-primary btn-sm" href="{{ path('job_detail', {jobId: job.jobId}) }}">
                                <span class="spinner-border text-primary spinner-border-sm" style="border-width: .1em" role="status"></span>
                                In progress
                            </a>
                        {% endif %}

                        {% if job.succeededAt %}
                            <a href="{{ path('job_detail', {jobId: job.jobId}) }}" class="btn btn-outline-success btn-sm">
                                <i class="far fa-check-circle"></i>
                                Succeeded
                            </a>
                        {% endif %}

                        {% if job.failed %}
                            <a href="{{ path('job_detail', {jobId: job.jobId}) }}" class="btn btn-outline-danger btn-sm">
                                <i class="far fa-times-circle"></i>
                                Failed
                            </a>
                        {% endif %}
                    </td>

                    <td>
                        <small class="text-muted">
                            {% if job.recipe %}
                                Recipe:
                            {% else %}
                                Task:
                            {% endif %}
                        </small><br>
                        <a href="{{ path('job_detail', {jobId: job.jobId}) }}">
                            {{ job.title }}
                        </a>
                    </td>

                    <td>
                        {% if job.executionTime %}
                            <small class="text-muted">
                                <i class="far fa-clock"></i>
                                {% if job.executionTime >= 60 %}
                                    {{ (job.executionTime / 60)|round(0, 'floor') }}m
                                {% endif %}
                                {{ job.executionTime % 60|round }}s
                            </small>
                            <br>
                        {% endif %}

                        {% if job.startedAt %}
                            <i class="far fa-calendar-alt"></i>
                            {% if job.succeeded %}
                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ job.succeededAt|date('j.n.Y H:i') }}">
                                        {{ job.succeededAt|ago }}
                                    </span>
                            {% elseif job.failed %}
                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ job.failedAt|date('j.n.Y H:i') }}">
                                        {{ job.failedAt|ago }}
                                    </span>
                            {% elseif job.inProgress %}
                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ job.startedAt|date('j.n.Y H:i') }}">
                                        {{ job.startedAt|ago }}
                                    </span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="text-end">
                        {% if job.mergeRequestUrl %}
                            <a href="{{ job.mergeRequestUrl }}" class="btn btn-sm btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Merge request">
                                <i class="fa fa-code-branch"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endif %}

{% endblock %}
