{% extends 'base.html.twig' %}

{% block title %}Project {{ activeProject.name }}{% endblock %}

{% block content %}

<div {{ turbo_stream_listen('project-' ~ activeProject.projectId ~ '-overview') }}></div>

{% if not tasks and not activeProject.enabledRecipes %}
    <section class="project-guidelines">
        <p class="bigger">
            Continue by defining a <b>task</b>.<br>
            <b>Task</b> is sequence of one or more commands.<br>
            If task run (<b>job</b>) results into code changes, it will open merge request.
        </p>

        <div class="row">
            <div class="col-md-6">
                <p>You can enable predefined recipes from cookbook:</p>

                <p>
                    <a class="btn btn-md btn-outline-primary" href="{{ path('cookbook', {projectId: activeProject.projectId}) }}">
                        Choose recipes
                    </a>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    Or you can define custom task yourself
                </p>
                <p>
                    <a class="btn btn-md btn-outline-primary" href="{{ path('define_task', {projectId: activeProject.projectId}) }}">
                        Add task
                    </a>
                </p>
            </div>
        </div>
    </section>
{% endif %}

{% if tasks %}
    <div class="table-responsive jobs-list-table">
        <table class="table table-hover align-middle">
            <thead>
            <tr>
                <th>Task</th>
                <th style="width: 200px;">Schedule</th>
                <th style="width: 110px;"></th>
                <th style="width: 150px;" class="text-center">Last job</th>
                <th style="width: 110px;" class="text-end">
                    <a class="btn btn-sm btn-primary" href="{{ path('define_task', {projectId: activeProject.projectId}) }}">
                        <i class="fas fa-plus-circle"></i>
                        Add task
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>
                        {{ task.name }}
                    </td>

                    <td>
                        {% if task.schedule %}
                            <code>{{ task.schedule }}</code> <br><small class="text-muted">{{ task.humanReadableCron }}</small>
                            <br>
                            <small>
                                <i class="far fa-clock"></i> next {{ task.nextRunTime|ago }}
                            </small>
                        {% else %}
                            No schedule
                            <br><small class="text-muted">Run only manually</small>
                        {% endif %}
                    </td>

                    <td class="text-center">
                        <turbo-frame id="task-{{ task.taskId }}">
                            <a href="{{ path('run_task', {taskId: task.taskId}) }}" class="btn btn-sm btn-outline-primary">
                                <i class="far fa-play-circle"></i>
                                Run
                            </a>
                        </turbo-frame>
                    </td>

                    <td class="text-center" id="task-{{ task.taskId }}-last-job">
                        {{ include('project_overview/_last_job.html.twig', {
                            jobId: task.lastJobId,
                            jobPending: task.jobPending,
                            jobInProgress: task.jobInProgress,
                            jobSucceeded: task.jobSucceeded,
                            jobFailed: task.jobFailed,
                            jobCanceled: task.jobCanceled,
                            jobActionTime: task.lastJobActionTime,
                        }) }}
                    </td>

                    <td class="text-end">
                        <span id="task-{{ task.taskId }}-last-job-merge-request">
                            {{ include('project_overview/_last_job_merge_request.html.twig', {
                                jobId: task.lastJobId,
                                jobMergeRequestUrl: task.lastJobMergeRequestUrl,
                            }) }}
                        </span>

                        <a href="{{ path('redefine_task', {taskId: task.taskId}) }}" class="btn btn-sm btn-light btn-outline-secondary">
                            <i class="fa fa-cog"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% elseif recipes %}
    <p class="text-end">
        <a class="btn btn-sm btn-primary" href="{{ path('define_task', {projectId: activeProject.projectId}) }}">
            <i class="fas fa-plus-circle"></i>
            New task
        </a>
    </p>
{% endif %}

<div id="project-{{ activeProject.projectId }}-recipes-list">
    {{ include('project_overview/_recipes_list.html.twig', {
        project: activeProject
    }) }}
</div>

<div id="recent-jobs-wrapper">
    {{ include('project_overview/_recent_jobs_table.html.twig') }}
</div>

{% endblock %}
